body.light-theme {
    background-color: #fff;
    color: #000000;
}

body.dark-theme {
    background: linear-gradient(to right, #000000, #642b1b);
    color: #fff;

    & .gallery__title {
        color: white;
    }

    & .page-footer {
        background: linear-gradient(to right, #000000, #642b1b);
    }

    & .page-footer__text {
        color: #fff;
    }

    & .page-footer__link {
        color: #837070;
    }

    & .cinema-bcg {
        background-image: url(https://i.gifer.com/PmUK.gif);
        background-size: cover;
    }

    // & .command__item {
    //     background-color: black;
    // }

    & .command__role {
        color: #fff;
    }

    & .inner__info {
        background-color: #000000;
    }

    & .wrapper__title {
        color: #fff;
    }
}
.theme-container {
    margin: 0 auto;
    width: 320px;
    padding: 0 20px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 768px;
        padding: 0 20px;
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
        padding: 0 20px;
    }
}

.theme {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    padding: 16px 50px;
    right: 0;
    top: 150px;
}

.theme-switch {
    display: flex;
    align-items: center;
}

.theme-switch__img {
    color: currentColor;
    margin-right: 10px;
    margin-left: 15px;
}

.theme-switch__hand {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    width: 32px;
    height: 16px;
    border-radius: 50em;
    padding: 3px 0;
}

.theme-switch__input {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 0;
    width: 0;
    pointer-events: none;
}

.theme-switch__label {
    position: absolute;
    left: 0;
    top: -4px;
    width: 40px;
    height: 25px;
    color: transparent;
    user-select: none;
    background-color: #af481fcb;
    border-radius: inherit;
    z-index: 1;
    cursor: pointer;
}

.theme-switch__mark {
    position: relative;
    background-color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    z-index: 2;
    pointer-events: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    transform: translateX(3px);
}

.theme-switch__input:checked + .theme-switch__label {
    background-color: #ff6b08;
}

.theme-switch__input:checked ~ .theme-switch__mark {
    transform: translateX(17px);
}

.theme-switch__input:focus + .theme-switch__label,
.theme-switch__input:active + .theme-switch__label {
    box-shadow: 0 0 0 3px #ff6b08;
}
.dark-theme {
    color: lightgrey;
    background-color: #222;
}
