.page-footer {
  background-color: rgba(247, 247, 247, 1);
  padding-top: 29px;
  padding-bottom: 29px;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 319px) {
      width: 320px;
    }

    @media screen and (min-width: 320px) {
      width: 320px;
    }

    @media screen and (min-width: 768px) {
      width: 768px;
      padding-left: 32px;
      padding-right: 32px;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: 1280px) {
      width: 1280px;
    }
  }

  &__wrapper {
    display: block;
    text-align: center;
    // display: flex;
    // flex-direction: column;
  }
  &__text {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: $footer-text-color;
    // max-width: 187px;
  }
  &__disc {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: $footer-text-color;
    // max-width: 236px;
    margin-top: 10px;
  }
  &__icon {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }
}
