.page-footer {
  background-color: rgba(247, 247, 247, 1);
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 0;

  @media screen and (min-width: 768px) {
    height: 79px;
  }
  @media screen and (min-width: 1280px) {
    height: 77px;
  }

  &__wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 250px;

    @media screen and (min-width: 768px) {
      max-width: 500px;
    }
  }

  &__text {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: $footer-text-color;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.19;
    }
  }

  &__icon {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

    animation: heartBeat;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  &__link {
    text-decoration: underline;
    color: $footer-text-color;
    text-decoration-color: #ff6b08;
  }
}
