.page-footer {
  background-color: rgba(247, 247, 247, 1);
  padding-top: 29px;
  padding-bottom: 29px;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 250px;

    @media screen and (min-width: 768px) {
      max-width: 500px;
    }
  }
  &__text {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: $footer-text-color;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.19;
    }
  }

  &__icon {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

    animation: heartBeat;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  &__link {
    text-decoration: underline;
    color: $footer-text-color;
  }
}
