.section-header {
    padding-top: 20px;
    padding-bottom: 40px;
    height: 230px;

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
        height: 216px;
    }
}

.container-header {
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    @media screen and (min-width: 320px) {
        max-width: 320px;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
        padding: 0 32px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1280px;
    }
}

.header {
    padding-top: 40px;
    background-image: url(../images/header/header-home-mob-2x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;

    @media screen and (min-width: 320px) {
        background-image: url(../images/header/header-home-mob-2x.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media screen and (min-width: 768px) {
        padding-top: 0;
        background-image: url(../images/header/header-home-tab-2x.jpg);
    }

    @media screen and (min-width: 1280px) {
        background-image: url(../images/header/header-home-des-2x.jpg);
    }
}

.nav {
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
        padding-top: 40px;
    }
}

.nav__link {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.menu {
    display: flex;
    margin-left: auto;
    color: #ffffff;
}

.menu__items {
    margin-right: 39px;

    &:hover {
        animation: rubberBand;
        animation-duration: 2s;
    }
}

.menu__link {
    font-size: 12px;
    line-height: 1.16;
    color: #ffffff;
    text-transform: uppercase;

    &:visited {
        color: #ffffff;
    }

    &:hover {
        color: #ff001b;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.logo-svg {
    width: 24px;
    height: 24px;
    align-self: center;
    stroke: #ffffff;

    animation: flip;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    &:hover,
    &:focus,
    &:active {
        stroke: #ff001b;

        transition-property: stroke;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.logo-text {
    display: none;

    &:hover {
        animation: rubberBand;
        animation-duration: 2s;
    }

    @media screen and (min-width: 768px) {
        display: inline-block;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 500;
        color: #ffffff;
        margin-left: 8px;
    }
}

.current::after {
    content: "";
    display: block;

    width: 100%;
    height: 3px;
    border-radius: 2px;

    background-color: #ff001b;
}

.search {
    position: relative;

    @media screen and (min-width: 768px) {
        width: 336px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 1280px) {
        width: 394px;
    }
}

.search__input {
    width: 100%;
    height: 20px;
    margin-top: 55px;
    color: #ffffff;

    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 0.5px solid #ffffff;
    outline: none;
    background-color: transparent;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;

    &::placeholder {
        color: #ffffff;
    }

    &:hover,
    &:focus {
        border-bottom: 0.5px solid #ff001b;
        animation: rubberBand;
        animation-duration: 2s;
        transition-property: border-bottom;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.search__button {
    position: absolute;
    bottom: 4px;
    right: 0px;
    background-color: transparent;
    opacity: 1;
    border: none;
    outline: none;

    width: 20px;
    height: 20px;

    &:hover {
        cursor: pointer;
    }
}

.search__button.is-hidden {
    opacity: 0;
}

.search__icon {
    position: absolute;
    right: 2px;
    bottom: 2px;
    stroke: #ffffff;

    animation: rollIn;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    &:hover,
    &:focus,
    &:active {
        stroke: #ff001b;
        cursor: pointer;
        animation: rollOut;
        animation-duration: 2s;
        transition-property: stroke;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        // animation-iteration-count: infinite;
    }
}

.icon-search {
    width: 12px;
    height: 12px;
}

.warning-notify {
    width: 300px;
    // position: absolute;
    margin: 15px auto;
    font-size: 14px;
    line-height: 1.17;
    font-weight: 400;
    color: #ff001b;
    // opacity: 0;

    @media screen and (min-width: 768px) {
        text-align: center;
    }
}

// .warning-notify.is-visible {
//     opacity: 1;
// }
