//  *{
//     outline: 1px solid teal;
//  }

table {
    table-layout: fixed;
    width: 100%;
   
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.modal__container {
    max-height: 100%;
    display: flex;
}

// 1div
.card-modal__item {
    max-height: 100%;
    display: flex;
    overflow-y: scroll;
}

// div-img
.card-modal__image-wrap {
    margin-top: auto;
    max-height: 100%;
    margin-bottom: 0;
}
@media screen and (max-width: 767px) {
    .card-modal__image-wrap {
      max-width: 704px;
      height: 940px;
      top: 50%;
      margin-bottom: 20px;
    }
  }
// img
.card-modal__image {
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    border-radius: 5px;
}

// div with table and other writed info
.card-modal__film-info {
    table-layout: fixed;
    width: 100%;
}

.card-modal__title {
    font-size: 30px;
    line-height: 1.16;
    display: block;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
    color: #000000;
}

.card-modal__wrapper {
   max-height: 100%;
    margin-left: 20px;
    margin-right: 16px;
 max-width: 450px;
}

.card-modal__film-info {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
}

.tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.card-modal__overwiew-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
align-items: center;
text-transform: uppercase;
}
.card-modal__overview {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}

.card-modal__rating-result-span,
.card-modal__rating-multiply,
.card-modal__popularity-result,
.card-modal__origin-title-result,
.card-modal__genres-result,
.card-modal__rating-result {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.card-modal__rating-result-span {
    background-color: #ff6b08;
    color: #FFFFFF;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
    align-items: center;
    text-align: center;
}

.card-modal__genres-result {
    line-height: 16px;
}


.card-modal__genres,
.card-modal__origin-title,
.card-modal__rating,
.card-modal__popularity {
    width: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #8C8C8C;
}

.card-modal__buttons {
    visibility: visible;
    display: flex;

margin-top: 20px;
}
.card-modal__button-item{

}
.card-modal__button-queue,
.card-modal__button-add {
font-family: 'Roboto';
font-weight: 500;
font-size: 12px;
line-height: 16px;
align-items: center;
text-align: center;
text-transform: uppercase;
    margin-right: 15px;
    background: #FF6B01;
    color: #FFFFFF;
    border-radius: 5px;
    width: 136px;
    height: 44px;
    border: none;
    
}