.pagination {
    outline: 1px solid red;
    margin: 0 auto;
    padding-bottom: 40px;
    @media screen and (min-width: 768px){
        padding-bottom: 60px;
    }
    
}
.pagination__container {
    outline: 1px solid green;
    margin: 0 auto;
    padding: 0 20px;
    width: 320px;
    @media screen and (min-width: 768px) {
        width: 768px;
        padding: 0 32px; 
    }
    @media screen and (min-width: 1280px) {
        width: 1280px;
    }
}
.pagination-list {
    display: flex;
    justify-content: center;
    
    &__item {
        width: 40px;
        height: 40px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        &:hover {
            color: white;
            background-color: $accent-color;
        }
        &--active {
            color: white;
            background-color: $accent-color;
        }
        &--left,&--right{
            background-color: #F7F7F7;
        }
    }
}