.scroll-up {
    position: fixed;
    bottom: 50px;
    right: 39px;
    padding: 10px;
    display: none;
    width: 45px;
    height: 45px;
    border: none;
    cursor: pointer;
    background-image: url(../images/icons8-3d-очки-45.png);
    background-color: inherit;
}
