body.light-theme {
    background-color: $white-text-color;
    color: $black-text-color;
}

body.dark-theme {
    background: linear-gradient(to right, $black-text-color, $linear-gradient);
    color: $white-text-color;

    & .gallery__title {
        color: $white-text-color;
    }

    & .page-footer {
        background: linear-gradient(to right, $black-text-color, $linear-gradient);
    }

    & .page-footer__text {
        color: $white-text-color;
    }

    & .page-footer__link {
        color: #837070;
    }

    & .cinema-bcg {
        background-image: url(https://i.gifer.com/PmUK.gif);
        background-size: cover;
    }

    & .command__role {
        color: $white-text-color;
    }

    & .inner__info {
        background-color: $black-text-color;
    }

    & .wrapper__title {
        color: $white-text-color;
    }

    & .image-no-films {
        box-shadow: 8px 10px rgba(206, 27, 27, 0.442), -1em 0 0.4em rgba(183, 102, 16, 0.667);
    }

    & .backdrop__modal-main {
        background: linear-gradient(to right, #000000, #642b1b);
        box-shadow: 0px 2px 8px 8px rgba(114, 62, 13, 0.859);
    }

    & .card-modal__title {
        color: $white-text-color;
    }

    & .card-modal__overwiew-title {
        color: $white-text-color;
    }

    & .card-modal__overview {
        color: $white-text-color;
    }

    & .card-modal__rating-result-span,
    .card-modal__rating-multiply,
    .card-modal__popularity-result,
    .card-modal__origin-title-result,
    .card-modal__genres-result,
    .card-modal__rating-result {
        color: $white-text-color;
    }

    & .card-modal__button-add {
        color: $white-text-color;
        border: solid 1px $white-text-color;
    }

    & .card-modal__button-queue {
        color: $white-text-color;
        border: solid 1px $white-text-color;
    }
}

.theme-container {
    margin: 0 auto;
    max-width: 70px;
    padding: 0 20px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 768px;
        padding: 0 20px;
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
        padding: 0 20px;
    }
}

.theme {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    padding: 16px 0 16px 0;
    left: 180px;
    top: 170px;

    @media screen and (min-width: 768px) {
        left: 630px;
        top: 150px;
    }

    @media screen and (min-width: 850px) {
        left: 700px;
        top: 150px;
    }

    @media screen and (min-width: 1000px) {
        left: 800px;
        top: 150px;
    }

    @media screen and (min-width: 1280px) {
        left: 1130px;
        top: 150px;
    }

    @media screen and (min-width: 1900px) {
        left: 1450px;
        top: 150px;
    }
}

.theme-switch {
    display: flex;
    align-items: center;
}

.theme-switch__img {
    color: currentColor;
    margin-right: 10px;
    margin-left: 15px;
}

.theme-switch__hand {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    width: 32px;
    height: 16px;
    border-radius: 50em;
    padding: 3px 0;
}

.theme-switch__input {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 0;
    width: 0;
    pointer-events: none;
}

.theme-switch__label {
    position: absolute;
    left: 0;
    top: -4px;
    width: 40px;
    height: 25px;
    color: transparent;
    user-select: none;
    background-color: #af481fcb;
    border-radius: inherit;
    z-index: 1;
    cursor: pointer;
}

.theme-switch__mark {
    position: relative;
    background-color: $white-text-color;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    z-index: 2;
    pointer-events: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    transform: translateX(3px);
}

.theme-switch__input:checked + .theme-switch__label {
    background-color: $accent-color;
}

.theme-switch__input:checked ~ .theme-switch__mark {
    transform: translateX(17px);
}

.theme-switch__input:focus + .theme-switch__label,
.theme-switch__input:active + .theme-switch__label {
    box-shadow: 0 0 0 3px $accent-color;
}

.dark-theme {
    color: lightgrey;
    background-color: #222;
}
