$accent-color: #ff6b08;
$white-text-color: #ffffff;
$red-text-color: #ff001b;
$black-text-color: #000000;
$footer-text-color: #545454;
$footer-bcg-color: #f7f7f7;
$accent-gray-color: #8c8c8c;
$linear-gradient: #642b1b;
