$accent-color: rgba(255, 107, 8, 1);
// text colors
$white-text-color: rgba(255, 255, 255, 1);
$red-text-color: rgba(255, 0, 27, 1);
$black-text-color: rgba(0, 0, 0, 1);
$footer-text-color: rgba(84, 84, 84, 1);
