<section class="gallery-section">
  <h2 class="gallery__title visually-hidden">Gallery</h2>
  <div class="gallery__container">
    <ul class="gallery__list" data-card-modal-open></ul>
  </div>
  <div class="pagination__container">
    <button class="pagination__btn pagination__btn--left">
      <svg class="pagination__icon">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </button>
    <ul class="pagination__list"></ul>
    <button class="pagination__btn pagination__btn--rigth">
      <svg class="pagination__icon">
        <use href="./images/sprite.svg#icon-arrow-left"></use>
      </svg>
    </button>
  </div>
</section>
