<header class="section-header header">
  <div class="container-header">
    <nav class="nav">
      <a href="./index.html" class="nav__link">
        <svg class="logo-svg icon-film">
          <use href="./images/sprite.svg#icon-film"></use>
        </svg>
        <span class="logo-text">Filmoteka</span>
      </a>

      <ul class="menu">
        <li class="menu__items current">
          <a href="./index.html" class="menu__link">Home</a>
        </li>
        <li class="menu__items">
          <a href="./library.html" class="menu__link">My library</a>
        </li>
      </ul>
    </nav>
    <form id="form-search" class="search" type="submit">
      <input class="search__input" type="text" placeholder="Movie search" />
      <button class="search__button" type="submit" title="Search">
        <svg class="search__icon icon-search">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <div class="theme">
      <div class="theme-switch">
        <img
          class="theme-switch__img"
          src="./images/icons8-sun-25.png"
          alt="sun"
        />
        <div class="theme-switch__hand">
          <input
            class="theme-switch__input"
            type="checkbox"
            name="theme"
            id="theme-switch-selector"
            aria-label="Переключатель темы"
          />
          <label
            class="theme-switch__label"
            aria-hidden="true"
            for="theme-switch-selector"
          >
          </label>
          <div aria-hidden="true" class="theme-switch__mark"></div>
        </div>
        <img
          class="theme-switch__img"
          src="./images/icons8-sun-25-2.png"
          alt="sunset"
        />
      </div>
    </div>

    <p class="warning-notify visually-hidden">
      Search result not successful. Enter the correct movie name and try again
    </p>
  </div>
</header>
