<header class="header-library">
  <div class="header-library__container container">
    <nav class="library-navigation">
      <a href="library-navigation__logo">
        <p class="library-navigation__text">Filmoteka</p>
      </a>
      <ul class="library-navigation__list">
        <li class="library-navigation__items">
          <a class="library-navigation__link" href="./index.html">Home</a>
        </li>
        <li class="library-navigation__items">
          <a class="library-navigation__link current" href="./library.html"
            >My library</a
          >
        </li>
      </ul>
    </nav>
    <div class="header-library__buttons">
      <ul class="header-library__buttons-lists">
        <li class="header-library__button-items">
          <button type="button" class="button header-library__button"></button>
        </li>
        <li class="header-library__button-items">
          <button type="button" class="button header-library__button"></button>
        </li>
      </ul>
    </div>
  </div>
</header>
