<header class="header">
  <div class="nav-container container">
    <a href="../index.html" class="logo">
      <span class="logo__text">Filmoteka</span>
    </a>
    <nav class="nav">
      <ul class="menu">
        <li class="menu__items">
          <a
            href="../index.html"
            class="menu__link current menu__link-home link"
            >Home</a
          >
        </li>
        <li class="menu__items">
          <a href="../library.html" class="menu__link menu__link-library link"
            >My library</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <form action="" id="form-search" class="search">
    <input class="search__input" type="text" placeholder="Movie search" />
    <button class="search__button" type="submit" title="Search"></button>
  </form>
</header>
