<div data-modal class="backdrop is-hidden" data-backdrop>
  <div class="backdrop__modal" data-modal>
    <button data-modal-close class="backdrop__button" data-close-modal>
      <svg class="backdrop__icon" width="30" height="30">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="wrapper container">
      <h3 class="wrapper__title">Team Popcorn</h3>
      <ul class="command__list">
        <li class="command__item">
          <img
            class="command__image"
            src="./images/Photo/Roma.jpg"
            alt="photo Roman"
            width="100"
          />
          <div class="inner_info">
            <p class="command__role">Team Lead</p>
            <p class="command__name">Roman Serediuk</p>
          </div>
        </li>
        <li class="command__item">
          <img
            class="command__image"
            src="./images/Photo/Maria.jpg"
            alt="photo Maria"
            width="100"
          />
          <div class="inner_info">
            <p class="command__role">Scram Master</p>
            <p class="command__name">Buznik Maria</p>
          </div>
        </li>
        <li class="command__item">
          <img
            class="command__image"
            src="./images/Photo/Daryna.jpg"
            alt="photo Darina"
            width="100"
          />
          <div class="inner_info">
            <p class="command__role">Developer</p>
            <p class="command__name">Darina Shvydiuk</p>
          </div>
        </li>
        <li class="command__item">
          <img
            class="command__image"
            src="./images/Photo/Anton.jpg"
            alt="photo Anton"
            width="100"
          />
          <div class="inner_info">
            <p class="command__role">Developer</p>
            <p class="command__name">Anton Zaychenko</p>
          </div>
        </li>
        <li class="command__item">
          <img
            class="command__image"
            src="./images/Photo/Denys.jpg"
            alt="photo Denys"
            width="100"
          />
          <div class="inner__info">
            <p class="command__role">Developer</p>
            <p class="command__name">Denys Moskalenko</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- <div data-card-modal class="card-modal visually-hidden">
  <button data-film-modal-close class="film-modal__btn--close">
    <svg class="backdrop__icon js-btn-close" width="30" height="30">
      <use
        class="js-btn-close"
        href="./images/symbol-defs.svg#icon-close-window"
      ></use>
    </svg>
  </button>
</div> -->
