<div data-modal class="backdrop is-hidden" data-backdrop>
  <div class="backdrop__modal" data-modal>
    <button data-modal-close class="backdrop__button" data-close-modal>
      <svg class="backdrop__icon" width="14" height="14">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="wrapper">
      <h3 class="wrapper__title">Team Popcorn</h3>
      <ul class="command__list">
        <li class="command__item">
          <img
            class="command__image"
            src="#"
            alt="TimLead"
            width="80"
            height="40"
          />
        </li>
        <li class="command__item">
          <img
            class="command__image"
            src="#"
            alt="TimLead"
            width="80"
            height="40"
          />
        </li>
        <li class="command__item">
          <img
            class="command__image"
            src="#"
            alt="TimLead"
            width="80"
            height="40"
          />
        </li>
        <li class="command__item">
          <img
            class="command__image"
            src="#"
            alt="TimLead"
            width="80"
            height="40"
          />
        </li>
      </ul>
    </div>
  </div>
</div>
