<section class="pagination ">
    <div class="pagination__container">
        <ul class="pagination__list">
            <li class="pagination__item pagination__item--left">L</li>
            <li class="pagination__item">13</li>
            <li class="pagination__item">14</li>
            <li class="pagination__item pagination__item--active">15</li>
            <li class="pagination__item">16</li>
            <li class="pagination__item">17</li>
            <li class="pagination__item pagination__item--right">R</li>
        </ul>
    </div>   
</section>        