<section class="pagination ">
    <div class="pagination__container">
        <ul class="pagination-list">
            <li class="pagination-list__item pagination-list__item--left">L</li>
            <li class="pagination-list__item">13</li>
            <li class="pagination-list__item">14</li>
            <li class="pagination-list__item pagination-list__item--active">15</li>
            <li class="pagination-list__item">16</li>
            <li class="pagination-list__item">17</li>
            <li class="pagination-list__item pagination-list__item--right">R</li>
        </ul>
    </div>   
</section>       