<section class="pagination">
  <h2 class="pagonation__title visually-hidden">Pagination</h2>
  <div class="pagination__container">
    <button class="pagination__btn pagination__btn--left">
      <svg class="pagination__icon">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </button>
    <ul class="pagination__list"></ul>
    <button class="pagination__btn pagination__btn--rigth">
      <svg class="pagination__icon">
        <use href="./images/sprite.svg#icon-arrow-left"></use>
      </svg>
    </button>
  </div>
</section>
